@{
    ViewData["Title"] = "Chat with Quiz Bot";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to Test your quiz bot.</p>

<iframe src='https://webchat.botframework.com/embed/QuizMeBot?s=dCGXhNdVJJs.yTIoyxaLhPhLWNBpMX90vaoRYI9NxJiguP8TIKlKLlI' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
 